body {
    margin: 8;
    display: block;
    background-color: navy;
}

#mainHeading {
    color: red;
    text-align: center;
    background-color: gainsboro;
    width: 800px;
    margin: 40px auto;
    padding: 40px;
}

.funParagraph {
    color: green;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    width: 800px;
    margin: 0 auto;
    padding: 0 40px;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.nav-item {
    list-style: none;
    border: 2px solid navy;
    border-radius: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.nav-item:hover {
    background-color: navy;
    color: white;
    border-color: white;
}

a:hover {
    color: white;
}

.img-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

img {
    width: 600px;
}

article {
    text-align: center;
    background-color: gainsboro;
    margin: 40px auto;
    padding: 40px;
    width: 800px;
}
